* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #1a191f;
}
.films {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav {
    margin: 20px;
}