.filmIcon {
    padding: 10px;
    cursor: pointer;
}
.movie-cover img {
    width: 270px;
    height: 405px;
    /* 360 540 */
}
.info {
    width: 270px;
}
.title {
    font-size: 16px;
    color: #ffffff;
}
.genres {
    display: flex;
    flex-wrap: wrap;

    font-size: 14px;
    color: #ffd80e;
}
.rating {
    position: relative;
    top: 40px;
    left: 5px;
    right: 0;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    color: #ffffff;
    font-size: 14px;
}

.movie__average--green {
    border: 1px solid green;
}

.movie__average--orange {
    border: 1px solid orange;
}

.movie__average--red {
    border: 1px solid red;
}